#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

body {
  /* background-color: rgba(122, 143, 156, 0.682); */

  background: rgb(77, 127, 158, 0.7019258386948529);
  background: radial-gradient(
    circle,
    rgba(77, 127, 158, 0.7019258386948529) 0%,
    rgba(2, 0, 36, 1) 120%
  );
}
